:root {
    /* Colors */
    /* --color1: #3F41D9; */
    --color1:black;
    --color2: #3A3A3A;
    --color3d:#585858;
    /* --color3d:#a8b9da; */

    --color4:#757575;
    --color5:#929292;
    --color6:#CDCDCD;
    --color7:#ffc107;
    --colorbg:white;
    --colors: #28a745;
    --colord: #dc3545;
    /* --color-shadow:rgba(0, 123, 255, 0.3); */
    --color-shadow:rgba(60, 64, 69, 0.3);
    --text1:black;
    --text2:white;
    --text3:grey;
    
    /* Buttons */
    --button-padding: 8px 16px;
    --button-font-size: 14px;
    --button-border-radius: 30px;
    
    /* Modals */
    --modal-overlay-color: rgba(0, 0, 0, 0.5);
    --modal-background-color: #fff;
    --modal-padding: 20px;
    --modal-border-radius: 8px;

    /*gradients*/
    --gradient1: linear-gradient(45deg, var(--color1), var(--color2));
    --gradient2: linear-gradient(90deg, var(--color3), var(--color4));
    --gradient3: linear-gradient(180deg, var(--color5), var(--color7));
    --gradient4: linear-gradient(to bottom, var(--color2), var(--color6));
  }
  